body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00A788;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#wrapper {
//    overflow: hidden;
}
#left {
    line-height:30px;
    width:300px;
    float:left;
    padding: 5px 5px 5px 10px;
}
#left_main {
    line-height:30px;
    width:500px;
    float:left;
    padding: 5px 5px 5px 20px;
}
#right {
    padding:10px;
//    overflow: hidden;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}