extends layout

block content
  #header
    p Just Another Trail Map
  #wrapper
    #left_main
      if authenticated
        p
          a(href='logout') Logout
          | &nbsp; &nbsp;
          a(href='userinfo') Userinfo
          | &nbsp; &nbsp;
          a(href='groups') Groups
          | &nbsp; &nbsp;
          a(href='https://play.google.com/store/apps/details?id=com.jatrailmap') Get Android App
          | &nbsp; &nbsp;
          a(href='https://github.com/vesapehkonen/jatrailmap') Project page
      else
        fieldset
          input#inputUserName(type='text', placeholder='Username')
          input#inputUserPassword(type='password', placeholder='passwd')
          button#btnLogin Login
          = ' '
          span(name='err', id='err')
        p
          a(href='newuser') Create account
          | &nbsp; &nbsp;
          a(href='https://play.google.com/store/apps/details?id=com.jatrailmap') Get Android App
          | &nbsp; &nbsp;
          a(href='https://github.com/vesapehkonen/jatrailmap') Project page
      h2 Trails
      p
        each trail, i in trails
          a(href="trail/#{trail._id}") #{trail.date} #{trail.trailname}, #{trail.location}
          br
    #right
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/cli-users.js')
