extends layout

block content
  #header
    p
      a(href='/') Just Another Trail Map
  h1 Create Account
  p Please fill in fields and submit.
  fieldset
    input#inputUsername(type='text', placeholder='Username')
    br
    input#inputPassword(type='password', placeholder='Password')
    br
    input#inputFullname(type='text', placeholder='First and Lastname')
    br
    input#inputCountry(type='text', placeholder='Country')
    br
    input#inputState(type='text', placeholder='State')
    br
    input#inputCity(type='text', placeholder='City')
    br
    input#inputEmail(type='text', placeholder='Email')
    br
    button#btnAddUser Submit
    = ' '
    span(name='err', id='err')
  p
      = '   '
     a(href='/') Main page

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/js/cli-users.js')
